<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/atom+xml" href="{{ site.production_url }}/atom.xml" title="{{ site.title }}">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/stylesheets/page.css">
</head>
<body>

  <div class=container>
    <div class="twelve columns offset-by-two">
      {{ content }}
    </div>
  </div>

  <script src="/assets/javascript/highlight.js"></script>
  <script>
    /*!
     * contentloaded.js
     *
     * Author: Diego Perini (diego.perini at gmail.com)
     * License: MIT
     * Version: 1.2
     *
     * URL:
     * http://javascript.nwbox.com/ContentLoaded/
     * http://javascript.nwbox.com/ContentLoaded/MIT-LICENSE
     *
     */

    function contentLoaded(win, fn) {
      var done = false, top = true,
      doc = win.document, root = doc.documentElement,
      add = doc.addEventListener ? 'addEventListener' : 'attachEvent',
      rem = doc.addEventListener ? 'removeEventListener' : 'detachEvent',
      pre = doc.addEventListener ? '' : 'on',
      init = function(e) {
        if (e.type == 'readystatechange' && doc.readyState != 'complete') return;
        (e.type == 'load' ? win : doc)[rem](pre + e.type, init, false);
        if (!done && (done = true)) fn.call(win, e.type || e);
      },
      poll = function() {
        try { root.doScroll('left'); } catch(e) { setTimeout(poll, 50); return; }
        init('poll');
      };
      if (doc.readyState == 'complete') fn.call(win, 'lazy');
      else {
        if (doc.createEventObject && root.doScroll) {
          try { top = !win.frameElement; } catch(e) { }
          if (top) poll();
        }
        doc[add](pre + 'DOMContentLoaded', init, false);
        doc[add](pre + 'readystatechange', init, false);
        win[add](pre + 'load', init, false);
      }
    }
    contentLoaded(window, function() {
      var codez = document.getElementsByTagName('code');
      for (var i = 0; i < codez.length; i++) {
        var par = codez[i].parentNode;
        if (par.nodeName.toLowerCase() === 'pre') {
          hljs.highlightBlock(codez[i]);
        }
      }

      var age = new Date().getFullYear() - new Date(1985, 4, 11).getFullYear();
      var $age = document.getElementById('my-age')
      var accessor = $age.textContent? 'textContent' : 'innerText';

      $age[accessor] = age;
    });
  </script>

</body>
</html>
